//! **************************************************************************
// Written by: Map P.28xd on Sun Oct 26 16:36:06 2014
//! **************************************************************************

SCHEMATIC START;
COMP "USER_CLK" LOCATE = SITE "AH15" LEVEL 1;
COMP "KEYBOARD_DATA" LOCATE = SITE "T25" LEVEL 1;
COMP "HDR1_2" LOCATE = SITE "H33" LEVEL 1;
COMP "HDR1_4" LOCATE = SITE "F34" LEVEL 1;
COMP "HDR1_6" LOCATE = SITE "H34" LEVEL 1;
COMP "HDR1_8" LOCATE = SITE "G33" LEVEL 1;
COMP "KEYBOARD_CLK" LOCATE = SITE "T26" LEVEL 1;
PIN KEYBOARD_CLK_pin<0> = BEL "KEYBOARD_CLK" PINNAME PAD;
PIN "KEYBOARD_CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PIEZO_SPEAKER" LOCATE = SITE "G30" LEVEL 1;
COMP "GPIO_SW_C" LOCATE = SITE "AJ6" LEVEL 1;
COMP "HDR1_10" LOCATE = SITE "G32" LEVEL 1;
COMP "HDR1_12" LOCATE = SITE "H32" LEVEL 1;
COMP "HDR1_14" LOCATE = SITE "J32" LEVEL 1;
COMP "HDR1_16" LOCATE = SITE "J34" LEVEL 1;
SCHEMATIC END;

