//! **************************************************************************
// Written by: Map P.28xd on Mon Sep 08 11:51:37 2014
//! **************************************************************************

SCHEMATIC START;
COMP "GPIO_DIP_SW1" LOCATE = SITE "U25" LEVEL 1;
COMP "GPIO_DIP_SW2" LOCATE = SITE "AG27" LEVEL 1;
COMP "GPIO_DIP_SW3" LOCATE = SITE "AF25" LEVEL 1;
COMP "GPIO_DIP_SW4" LOCATE = SITE "AF26" LEVEL 1;
COMP "GPIO_DIP_SW5" LOCATE = SITE "AE27" LEVEL 1;
COMP "GPIO_DIP_SW6" LOCATE = SITE "AE26" LEVEL 1;
COMP "GPIO_DIP_SW7" LOCATE = SITE "AC25" LEVEL 1;
COMP "GPIO_DIP_SW8" LOCATE = SITE "AC24" LEVEL 1;
COMP "GPIO_LED_0" LOCATE = SITE "H18" LEVEL 1;
COMP "GPIO_LED_1" LOCATE = SITE "L18" LEVEL 1;
COMP "GPIO_LED_2" LOCATE = SITE "G15" LEVEL 1;
COMP "GPIO_LED_3" LOCATE = SITE "AD26" LEVEL 1;
COMP "GPIO_LED_4" LOCATE = SITE "G16" LEVEL 1;
SCHEMATIC END;

