NET  HDR1_2 LOC="H33";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_4 LOC="F34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_6 LOC="H34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_8 LOC="G33";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_10 LOC="G32";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_12 LOC="H32";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_14 LOC="J32";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_16 LOC="J34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  HDR1_18 LOC ="L33";  # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  GPIO_LED_C LOC="E8";    # Bank 20, Vcco=3.3V, DCI using 49.9 ohm resistors
NET  USER_CLK LOC="AH15";  # Bank 4, Vcco=3.3V, No DCI