//! **************************************************************************
// Written by: Map P.28xd on Thu Sep 18 16:33:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_FPGA_E" LOCATE = SITE "AC9" LEVEL 1;
COMP "LCD_FPGA_DB4" LOCATE = SITE "T9" LEVEL 1;
COMP "LCD_FPGA_DB5" LOCATE = SITE "G7" LEVEL 1;
COMP "LCD_FPGA_DB6" LOCATE = SITE "G6" LEVEL 1;
COMP "LCD_FPGA_DB7" LOCATE = SITE "T11" LEVEL 1;
COMP "LCD_FPGA_RS" LOCATE = SITE "J17" LEVEL 1;
COMP "GPIO_SW_C" LOCATE = SITE "AJ6" LEVEL 1;
COMP "GPIO_SW_E" LOCATE = SITE "AK7" LEVEL 1;
COMP "LCD_FPGA_RW" LOCATE = SITE "AC10" LEVEL 1;
COMP "GPIO_DIP_SW1" LOCATE = SITE "U25" LEVEL 1;
COMP "GPIO_DIP_SW2" LOCATE = SITE "AG27" LEVEL 1;
COMP "GPIO_DIP_SW3" LOCATE = SITE "AF25" LEVEL 1;
COMP "GPIO_SW_S" LOCATE = SITE "V8" LEVEL 1;
COMP "GPIO_DIP_SW4" LOCATE = SITE "AF26" LEVEL 1;
COMP "GPIO_DIP_SW5" LOCATE = SITE "AE27" LEVEL 1;
COMP "GPIO_DIP_SW6" LOCATE = SITE "AE26" LEVEL 1;
COMP "GPIO_DIP_SW7" LOCATE = SITE "AC25" LEVEL 1;
COMP "GPIO_SW_W" LOCATE = SITE "AJ7" LEVEL 1;
COMP "GPIO_DIP_SW8" LOCATE = SITE "AC24" LEVEL 1;
COMP "USER_CLK" LOCATE = SITE "AH15" LEVEL 1;
COMP "GPIO_LED_0" LOCATE = SITE "H18" LEVEL 1;
COMP "GPIO_LED_1" LOCATE = SITE "L18" LEVEL 1;
COMP "GPIO_LED_2" LOCATE = SITE "G15" LEVEL 1;
COMP "GPIO_LED_3" LOCATE = SITE "AD26" LEVEL 1;
COMP "GPIO_LED_4" LOCATE = SITE "G16" LEVEL 1;
SCHEMATIC END;

