NET  HDR1_2		LOC="H33";
NET  HDR1_4		LOC="F34";
NET  HDR1_6		LOC="H34";
NET  HDR1_8		LOC="G33";
NET  HDR1_10		LOC="G32";
NET  HDR1_12		LOC="H32";
NET  HDR1_14		LOC="J32";
NET  HDR1_16		LOC="J34";
NET  KEYBOARD_CLK	LOC="T26";
NET  KEYBOARD_DATA	LOC="T25";
NET  PIEZO_SPEAKER	LOC="G30";
NET  USER_CLK 		LOC="AH15";



