NET  HDR1_2		LOC="H33"; # VGA Red 0
NET  HDR1_4		LOC="F34"; # VGA Red 1
NET  HDR1_6		LOC="H34"; # VGA Green 0
NET  HDR1_8		LOC="G33"; # VGA Green 1
NET  HDR1_10		LOC="G32"; # VGA Blue 0
NET  HDR1_12		LOC="H32"; # VGA Blue 1
NET  HDR1_14		LOC="J32"; # VGA Horizontal Sync
NET  HDR1_16		LOC="J34"; # VGA Vertical Sync
NET  KEYBOARD_CLK CLOCK_DEDICATED_ROUTE = FALSE | LOC="T26"; # Keyboard Clock
NET  KEYBOARD_DATA	LOC="T25"; # Keyboard Data
NET  PIEZO_SPEAKER	LOC="G30"; # Piezoelectric Speaker
NET  USER_CLK 		LOC="AH15"; # 100 MHz User Clock
NET  GPIO_SW_C    LOC="AJ6"; # Central System Reset
NET  GPIO_LED_0   LOC="H18"; # Alternate Speaker Output
NET  GPIO_DIP_SW1 LOC="U25"; # Speaker Deactivation Switch
NET  GPIO_DIP_SW2 LOC="AG27";  # IRQ0 Deactivation Switch
NET  GPIO_SW_E LOC="AK7"; # Keyboard Load Special