//! **************************************************************************
// Written by: Map P.28xd on Wed Sep 24 17:43:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "FLASH_AUDIO_RESET_B" LOCATE = SITE "AG17" LEVEL 1;
COMP "GPIO_SW_E" LOCATE = SITE "AK7" LEVEL 1;
COMP "AUDIO_BIT_CLK" LOCATE = SITE "AF18" LEVEL 1;
COMP "GPIO_SW_W" LOCATE = SITE "AJ7" LEVEL 1;
COMP "AUDIO_SDATA_OUT" LOCATE = SITE "AG16" LEVEL 1;
COMP "AUDIO_SDATA_IN" LOCATE = SITE "AE18" LEVEL 1;
COMP "AUDIO_SYNC" LOCATE = SITE "AF19" LEVEL 1;
SCHEMATIC END;

